*{
    padding: 0;
    margin: 0;
}
.head a{
    text-decoration: none;
    color:#fff;
}
.head{
    background-color: #4582eb;
    padding: 20px 10px;
}
#sectionOne{
    border: 1px solid gray;
    margin: 30px 10px;
    padding: 10px 20px;
}
#searchuser{
    width: 93%;
    margin-top: 20px;
}
#sectionTwo {
    border: 1px solid gray;
    overflow: hidden;     
    margin: 20px 10px;
    padding: 20px;
}
.profilesection {
    width: 40%; 
    float: left;
}
#userImg {
    width: 40%;
    margin-bottom: 20px;
}
#userURL{
    width: 40%;
    text-decoration: none;
    background-color: #4582eb;
    margin-left: 1%;
    padding: 3% 7%;
    border-radius: 10px;
    color: #fff;
}
.profiletop,
.profiledown {
    width: 55%; 
    float: left;
    margin-left: -15%;
}
.profiletop p{
    width: 22%;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-left: 1%;
    padding: 3px;
    border-radius: 10px;
    color: #fff;
    float: left;
}
#profiletop1{
    background-color: #4582eb;
}
#profiletop2{
    background-color: #acb5bd;
}
#profiletop3{
    background-color: #01b974;
}
#profiletop4{
    background-color: #1aa1b8;
}
.profiledown{
    margin-top: 30px;
}
li{
    list-style: none;
    border: #eaeaea 1px solid;
    padding-right: 33%;
    width: 100%;
    font-size: 13px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
h3{
    margin: 20px 10px;
}
.repos{
    border: #eaeaea 1px solid;
    padding:2%;
    margin-left: 10px;
    margin-right: 10px;
}

.repos a{
    float: left;
    text-decoration: none;
    margin-left: 2%;
    width: 50%;
}
.repos p{
    float: left;
    width: 10%;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-left: 1%;
    padding: 3px;
    border-radius: 10px;
    color: #fff;
    float: left;
}

#star{
    background: #4582eb;
}

#watcher{
    background: #b1b9c1;
}

#fork{
    background-color: #01b974;
}

footer{
    background-color: #f8f9fa;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}